<app-alert [alert]="alert" [timeout]="1500" [msg]="msg" (msg_)="reloadAlertMsg($event)" ></app-alert>
<!--<my-content-header [firstName]="firstName" [secondName]="secondName"></my-content-header>-->

<app-content-header [firstName]="firstName" [secondName]="secondName" [detail]="detail"></app-content-header>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">角色详情</h3>
          <div class="btn-group" style="margin-left:10px;">
            <button type="button" class="btn btn-info" (click)="addRole(modalRoleTemplate)"><i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="editRole(modalRoleTemplate)"><i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="deleteRole()"><i class="fa fa-trash"></i></button>
          </div>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>


        <div class="box-body table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <th style="width: 8px;"></th>
              <th>ID</th>
              <th>名称</th>
              <th>编码</th>
              <th>状态</th>
            </tr>
            <tr *ngFor="let item of roles" (click)="selectRole(item)" [ngClass]="{'active': (selectedRole?.id===item.id)}" >
              <!--<td><input type="checkbox" checked="{{selectedApi?.id===item.id ? 'checked':''}}" class="mini" (click)="selectApi(item);" ></td>-->
              <td style="width: 8px;"></td>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.status===1 ? '正常' : '禁用'}}</td>
            </tr>
            <tr>
              <td colspan="9">
                <form class="form-inline" style="float:right;">
                  <div class="form-group">
                    <pagination [disabled]="disabled" [totalItems]="totalItems"
                                [itemsPerPage]="pageSize"
                                (pageChanged)="rolePageChanged($event)"
                                [maxSize]="20" [boundaryLinks]="true" class="pagination-sm"
                                previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </form>
              </td>
            </tr>
          </table>

          <div>选中资源：<span style="font-weight: bold;">{{selectedRole?.name}}</span></div>
        </div>
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"><span class="small">{{selectedRole.name}}</span>关联API</h3>
          <div class="btn-group" style="margin-left:10px;">
            <button type="button" class="btn btn-info" (click)="addRoleApi(modalRoleApiTemplate)"><i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="deleteRoleApi()"><i class="fa fa-trash"></i></button>
          </div>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>


        <div class="box-body table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <th style="width: 8px;"></th>
              <th>ID</th>
              <th>名称</th>
              <th>编码</th>
              <th>状态</th>
            </tr>
            <tr *ngFor="let item of roles" (click)="selectRole(item)" [ngClass]="{'active': (selectedRole?.id===item.id)}" >
              <!--<td><input type="checkbox" checked="{{selectedApi?.id===item.id ? 'checked':''}}" class="mini" (click)="selectApi(item);" ></td>-->
              <td style="width: 8px;"></td>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.status===1 ? '正常' : '禁用'}}</td>
            </tr>
            <tr>
              <td colspan="9">
                <form class="form-inline" style="float:right;">
                  <div class="form-group">
                    <pagination [disabled]="disabled" [totalItems]="totalItems"
                                [itemsPerPage]="pageSize"
                                (pageChanged)="rolePageChanged($event)"
                                [maxSize]="20" [boundaryLinks]="true" class="pagination-sm"
                                previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </form>
              </td>
            </tr>
          </table>

          <div>选中资源：<span style="font-weight: bold;">{{selectedRole?.name}}</span></div>
        </div>
      </div>
      <!-- /.box -->
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">角色详情</h3>
          <div class="btn-group" style="margin-left:10px;">
            <button type="button" class="btn btn-info" (click)="addRole(modalRoleTemplate)"><i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="editRole(modalRoleTemplate)"><i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="deleteRole()"><i class="fa fa-trash"></i></button>
          </div>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>


        <div class="box-body table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <th style="width: 8px;"></th>
              <th>ID</th>
              <th>名称</th>
              <th>编码</th>
              <th>状态</th>
            </tr>
            <tr *ngFor="let item of roles" (click)="selectRole(item)" [ngClass]="{'active': (selectedRole?.id===item.id)}" >
              <!--<td><input type="checkbox" checked="{{selectedApi?.id===item.id ? 'checked':''}}" class="mini" (click)="selectApi(item);" ></td>-->
              <td style="width: 8px;"></td>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.status===1 ? '正常' : '禁用'}}</td>
            </tr>
            <tr>
              <td colspan="9">
                <form class="form-inline" style="float:right;">
                  <div class="form-group">
                    <pagination [disabled]="disabled" [totalItems]="totalItems"
                                [itemsPerPage]="pageSize"
                                (pageChanged)="rolePageChanged($event)"
                                [maxSize]="20" [boundaryLinks]="true" class="pagination-sm"
                                previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                  </div>
                </form>
              </td>
            </tr>
          </table>

          <div>选中资源：<span style="font-weight: bold;">{{selectedRole?.name}}</span></div>
        </div>
      </div>
      <!-- /.box -->
    </div>

  </div>
</section>


<!-- add modal -->
<ng-template #modalRoleTemplate>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()" ><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" style="color: #00c0ef;font-weight: bolder;">{{roleModalName}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group has-feedback">
            <label class="control-label">编码</label>
            <input [(ngModel)]="role.code" type="text" name="code" class="form-control" placeholder=""
                   readonly onfocus="this.removeAttribute('readonly');" (keyup.enter)="check()">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label">名称</label>
            <input [(ngModel)]="role.name" type="text" name="name" class="form-control" placeholder=""
                   readonly onfocus="this.removeAttribute('readonly');" (keyup.enter)="check()">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label">状态</label>
            <select [(ngModel)]="role.status" name="status" class="form-control">
              <option value="1">正常</option>
              <option value="9">禁用</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">取消</button>
        <button type="button" class="btn btn-primary" (click)="submitRoleModal()">提交</button>
      </div>
    </div>
  </div>
</ng-template>

